.light {
  --text-primary: #222831;
  --text-secondary: #393E46;
  --bg-primary: #F9F7F7;
  --bg-secondary: #e4e4e4;
  --white:#fff;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: all 150ms linear;
}
.light .card {
  background-color: var(--text-secondary);
  color: var(--white);
}
.light .card h1{
  color: var(--white);
}
.light .page-link {
  border:none;
  color: #393E46;
  padding:1rem;
  border-top-left-radius:none;
  border-bottom-left-radius:none;
}
.light .page-link:focus{
  color:#222831;
  box-shadow: none;
}
.light .page-link:hover{
  color:#222831;
}
.light .wrapper h2 {
  color:var(--text-secondary)
}
.light .history-table {
  background-color: var(--text-secondary);
  color: var(--white);
}
.light .history-table th {
  color: var(--white);
}
.light .history-table td {
  color: var(--white);
}
.light #lightIcon {
  display: block;
}
.light .calendar {
  background: var(--text-secondary);
}
.light .apexcharts-tooltip {
  color: #1f1f1f;
}
.light .recent-card .card-body-button svg:hover{
  transition: all 100ms ease-in-out;
  filter: invert(27%) sepia(73%) saturate(412%) hue-rotate(359deg) brightness(91%) contrast(97%);
}
.light .recent-card .card-title a{
  text-decoration:none;
  color:var(--text-secondary);
}
.light .accordion-body .card{
  background-color: var(--white);
  color: var(--text-secondary);
}
.light .process-page .tab button {
  color:var(--white) !important;
}
.light .process-page .tab button:hover {
  background-color: rgb(104, 104, 104);
}
.light .process-page .tab button.active {
  background-color:  rgb(104, 104, 104);
  border-radius: 25px;
}
.light .accordion .accordion-body .card h1{
  color:var(--text-secondary);
}