body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-track {
  background: #1e1e24;
}

::-webkit-scrollbar-thumb {
  background: #e3c53d;
}


main {
  margin-left: 5rem;
  padding: 2rem;
}
main .content {
  border-radius: 35px;
  padding:20px;
  box-shadow: 0 8px 32px 0 rgba(34, 40, 49,0.37);
}
@media only screen and (max-width: 600px) {
  main {
    padding: 1rem;
  }
  #welcome-logo{
    margin-left:25%!important;
  }
  .slick-next, .slick-prev {
    display:none!important;
   }
   .carousel{
    width:100%!important;
  }
  footer{
    margin-bottom:1rem;
  }
}
@media only screen and (max-width: 768px){
  #welcome-logo{
    margin-left:35%!important;
    width: 30%!important;
  }
} 