
.btn {
          border-radius: 35px;
}
.accordion-button:not(.collapsed) {
  background-color: #fff;
}
.accordion-flush .accordion-item .accordion-button {
  font-weight: 900;
  margin: 0.55rem 0;
  font-size: 1.25rem;
}
.datepicker-input {
  width: 10vw;
  opacity: 1;
  cursor: pointer;
  box-sizing: border-box;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
input[type="date"] {
  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
  border-radius: 30px;
  padding: 10px;
  border: 1px solid #ccc;
}

input::-webkit-datetime-edit {
  -webkit-flex: 1;
  -webkit-user-modify: read-only !important;
  display: inline-block;
  min-width: 0;
  overflow: hidden;
}
input::-webkit-datetime-edit-fields-wrapper {
  -webkit-user-modify: read-only !important;
  display: inline-block;
  padding: 1px 0;
  white-space: pre;
}

/* If you update padding, border, or margin in the following ruleset, update
         DateTimeFieldElement::maximumWidth too. */
input::-webkit-datetime-edit-ampm-field,
input::-webkit-datetime-edit-day-field,
input::-webkit-datetime-edit-hour-field,
input::-webkit-datetime-edit-millisecond-field,
input::-webkit-datetime-edit-minute-field,
input::-webkit-datetime-edit-month-field,
input::-webkit-datetime-edit-second-field,
input::-webkit-datetime-edit-week-field,
input::-webkit-datetime-edit-year-field {
  -webkit-user-modify: read-only !important;
  border: none;
  display: inline;
  font: inherit !important;
  padding: 1px;
}

/* Remove focus ring from fields and use highlight color */
input::-webkit-datetime-edit-ampm-field:focus,
input::-webkit-datetime-edit-day-field:focus,
input::-webkit-datetime-edit-hour-field:focus,
input::-webkit-datetime-edit-millisecond-field:focus,
input::-webkit-datetime-edit-minute-field:focus,
input::-webkit-datetime-edit-month-field:focus,
input::-webkit-datetime-edit-second-field:focus,
input::-webkit-datetime-edit-week-field:focus,
input::-webkit-datetime-edit-year-field:focus {
  background-color: highlight;
  color: highlighttext;
  outline: none;
}

input::-webkit-datetime-edit-year-field[disabled],
input::-webkit-datetime-edit-month-field[disabled],
input::-webkit-datetime-edit-week-field[disabled],
input::-webkit-datetime-edit-day-field[disabled],
input::-webkit-datetime-edit-ampm-field[disabled],
input::-webkit-datetime-edit-hour-field[disabled],
input::-webkit-datetime-edit-millisecond-field[disabled],
input::-webkit-datetime-edit-minute-field[disabled],
input::-webkit-datetime-edit-second-field[disabled] {
  color: GrayText;
}

/* If you update padding, border, or margin in the following ruleset, update
         DateTimeEditElement::customStyelForRenderer too. */
input::-webkit-datetime-edit-text {
  -webkit-user-modify: read-only !important;
  display: inline;
  font: inherit !important;
  padding: 5px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="datetime"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="month"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-inner-spin-button,
input[type="week"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button;
  display:  none;
  position: relative;
  cursor: default;
  height: 1.5em;
  vertical-align: top;
  -webkit-flex: none;
  -webkit-user-select: none;
  -webkit-user-modify: read-only !important;
}
input::-webkit-calendar-picker-indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  padding: 0.17em 0.34em;
}

.slick-next, .slick-prev {
  width: 50px;
  height:50px;
}
.slick-next::before, .slick-prev::before {
 font-size:50px;
}