.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 300ms ease;
  padding: 0;
  z-index: 1000;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  margin: 0.5rem;
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
  margin: 0.5rem;
  border-radius: 25px;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #e3c53d;
}

.fa-secondary {
  color: #f7e074;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
.svg-hand-shake{
  background: url('/Assets/SVG/hello.svg') no-repeat;
  background-size: contain;
  margin-top: auto;
  height: 40px;
  width: 40px;
}
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.logo-text img {
  width: 25%;
  height: 25%;
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
#ads-image {
  display: none;
  background: url("/Assets/SVG/ads.svg") no-repeat;
  background-size: contain;
  margin-top: auto;
  height: 20%;
  width: 100%;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    margin: 0.1rem;
  }
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
  }
  .nav-link:hover {
    margin: 0rem;
    padding: 0.5rem;
    border-radius: 10px;
  }
  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }
  .navbar:hover #ads-image {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}

.theme-icon {
  display: none;
}

.solar #solarIcon {
  display: block;
}


.wrapper{
  width:100%;
  padding-top: 20px;
  display:block;
  text-align:center;
}
.carousel{
  width:90%;
  margin:0px auto;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 2px solid #fff;
}
.wrapper .slick-dots li button:before {
  font-size:20px;
  color:white;
}